.Rproj.user
.Rhistory
.RData
.Ruserdata
scripts/00_preprocessing/slurm*
scripts/00_preprocessing/.snakemake/*
scripts/00_preprocessing/.snakemake/slurm_logs*
/scripts/00_preprocessing/.snakemake/slurm_logs*